
.navbar ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	
}
.navbar #a{
	color: white;
}

.nav-link:hover{
	color: #ff556f !important;
}
.activo{
	background-color: rgba(138, 135, 135, 0.226);
}
.activo a{
	color: #ff556f !important;
  }

.img-logo{
	object-fit: cover;
	height: 50px; 
	width: 150px;
}

.navbar #a{
	display: block;
	padding: 1em;
	background-color: black;
	color: white;
	border: 1px solid gray;
}

.navbar #a:hover {
	background-color: #FBDE90 ;
	color: black;
}

.navbar ul li ul {
	display: none;
}
.navbar ul li a:hover + ul, .navbar ul li ul:hover {
	display: block;
}

.container {
	display: flex;
	justify-content: center;
}
.navbar {
	border-bottom: 5px solid #FFC200;
	
}
/*
.nav-item {
	justify-content: center;
	top: 8px;
}
.navbar-brand {
 	padding-right: 10px;
}
*/
#li-modal:hover, #ini-ses:hover {
	color:#ff556f ;
}
#icon{
	/*width: 80px;*/
}
.bg-dark-yellow {
	background-color: #000;
}

.nav-link-navbar {
	font-family: 'Montserrat', sans-serif!important;
	font-weight: 500!important;
	
}

#ini-ses{
	-webkit-text-decoration: underline white;
	        text-decoration: underline white;
}

.icon-search{
	color: #fff;
	width: 14px;
	-webkit-filter: invert(100%);
	        filter: invert(100%);
}
.btn-cart,.btn-user{
	margin-bottom: 40px;
}
.btn-cart {
	padding-left: 10px;
}
.icon-cart,.icon-user{
	width: 25px;
	top: 13px;
	-webkit-filter: invert(100%);
	        filter: invert(100%);
}
.icon-cart p{
	visibility: hidden;
}
.icon-cart p:hover{
	visibility: visible;
}
.icon-login {
	width: 74px;
	display: block;
	margin: auto;
}

/* menu */
/*
nav a{
      text-decoration:none;
      font-size:14px;
      }
            
nav li{
      display:inline-block;
      width:150px;
      height:30px;
      padding: 5px 2px;
      text-align:center;
      position:relative;
}
*/


.d-flex {
	margin-top: 20px;
}


@media screen and (max-width: 500px) {  
/*
	 .nav-item {
		margin-bottom: 10px;
		background-color: none;
		
	}
	.navbar-brand{
		padding-right: 10px;
	}
	*/
	.btn-user, .btn-cart{
		padding-left: 0;
		padding-top: 20px;
	}
	/*
	nav li:hover>ul{
		top: 4px;
		left: 110px;
  }
  */
  	#li-modal{
		text-align: left;
	  }

/*	  .navbar ul li ul {
		margin-left: 52px;
	}
	*/
	#ul-car{
		margin-bottom: 50px;
	}
	.icon-car,.icon-use{
		margin-top: 25px;
	}
	.icon-use{
		margin-bottom: 15px;
	}
}

@media (min-width: 501px) and (max-width: 768px) {
/*
	.nav-item {
		margin-bottom: 15px;
		background-color: none;
	}
*/
	.btn-cart {
		padding-left: 0;
	}

	nav li:hover>ul{
		top: 10px;
		left: 110px;
  	}
	.prod {
		margin-bottom: 5px;
	}
	/*
	.navbar ul li ul {
		margin-left: 52px;
	}
	*/
	#ul-car{
		margin-bottom: 50px;
	}
	.icon-car,.icon-use{
		margin-top: 25px;
	}
	.icon-use{
		margin-bottom: 15px;
	}
} 

@media (min-width: 999px) and (max-width: 1300px) {
	#li-modal{
		font-size: 15px;
	}

	#ul-modal{
		width: 650px;
	}
	.navbar-brand{
		padding-right: 10px
	}
}
@media (min-width: 1150px) and (max-width: 1300px) {
	
	#ul-modal{
		width: 800px;
	}
	.navbar-brand{
		padding-right: 50px
	}
}

