
<section class="shipping">
    <h3 class="text-center">Estado de pago</h3>
    <div class="container2">
      <div class="cart-grid-right col-12 col-lg-4 cr-res">
      <div class="card cart-summary">
          <b><p class="txt-p">Pago</p></b>
          <div class="cart-detailed-totals">
              <div class="card-body">
                <div class="cart-summary-line flex">
                  <div style="text-align: center;">
                      <span style="font-weight: bolde;" class="label js-subtotal">
                         <h1>Pago Exitoso</h1>
                      </span>
                  </div>
                  <div class="rig">
                  </div>
              </div>
              </div>
          </div>
      </div>
  </div>
    </div><br>
    <div style="margin: auto 1px 2px;" class="btn-save-container">
        <button (click)="salir()" style="margin: auto;"  class="btn-hero" id="guardar" name="guardar" type="submit">Volver</button> 
	  </div> 
  </section>
  


