<!-- Hero -->
<section class="fondo-salones">
	<article class="container">
		<div class="row d-flex align-items-center" id="titulo">
			<div class="col-12 col-md-6 ">
				<h1 class="title-hero">APARTA TU SERVICIO AQUÍ</h1>
			</div>
		</div>
	</article>
</section>
 

<section class=" py-5" id="pinatas" *ngFor="let inflable of inflables">
	<article class="container">
		<div class="row">
			<div  style="width: 40%;">
				#left content in here
				<div>
				   <img src="./assets/imgs/piñatas/pinata2.jpg" alt="./assets/imgs/piñatas/pinata2.jpg" class="w-100" id="img">
				</div>
			</div>
			<div style="width: 40%;">
			    <div>
					<img src="./assets/imgs/piñatas/pinata2.jpg" alt="./assets/imgs/piñatas/pinata2.jpg" class="w-100" id="img">
				 </div>
			</div>
		</div>

<!-- <div class="row">
	<div class="col-6 col-md-4 mt-4" >
		<div class="col-6  h-100">
			<div class="bg-light container-img-light img-card">
				<img src="{{inflable.img}}" alt="{{inflable.img}}" class="w-100" id="img">
			</div>
			<div class="slidersimg">  
					  <ul>
						  <li>  <img src="./assets/imgs/salones/salon.jpg">  </li>
						  <li>  <img src="./assets/imgs/salones/salon.jpg">  </li>
						  <li>  <img src="./assets/imgs/salones/salon.jpg">  </li>
					  </ul>
			</div>
			
		</div>
		
	</div>
</div>
<div class="row">
	<div class="col-6">

		<div class="row p-1 desc-1">
			<div class="col-12 my-5 card-desc">
				<p class="text-center font-400 text-relleno">
					{{inflable.descripcion}}
				</p>
			</div>
		</div>
		<div class="row mt-1 p-3 card-name">
			<div class="col-12 p-1" id="card-name">
				<h4 class="font-700 text-center" id="precio">${{inflable.precio}}</h4>
			</div>
		</div>
		<div class="row p-1 card-mas" id="card-btn">
			<div class="col-12 text-center" id="ver-mas">
				<button class="btn-hero">Agregar al carrito</button>
			</div>
			<div class="col-12 text-center" id="ver-mas">
				<button class="btn-hero-outline" routerLink="/detalles">Ver detalles</button>
			</div> 
		</div>
	</div>
</div> -->
</article>
</section>
<!-- /CATEGPRÍAS -->