.shipping {
    font-family: "Montserrat", sans-serif;
    background-color: #B4F7C7 ;
    padding: 10px;
  }

  .btn-save-container {
    width: 100%;
    text-align: center;
  }
  
  .shipping input[type="radio"] {
    color: #ffffff;
    background-color: #000000;
  }
  
  .shipping label {
    width: calc(100% - 25px);
    align-self: center;
  }
  
  .container2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
  .card{
    height: 80%;
    float: left;
    margin: 10px;
  }

  .btn-hero-outline,
  .btn-hero {
    width: 150px;
    padding: 0.8em 1em;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700 !important;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
  }
  
  .btn-hero-outline {
    background-color: #00beca;
    border: 2px solid #00beca;
    transition: 0.3s ease;
  }
  
  .btn-hero-outline:hover {
    background-color: transparent;
    border: 2px solid #00beca;
    color: #00beca;
    transition: 0.3s ease;
  }
  
  .btn-hero {
    background-color: #ff556f;
    border: transparent;
    transition: 0.3s ease;
  }
  

/* Estilos para card */
.js-cart{
  margin-top: 30px;
}
.cr-res{
  margin-top: 40px;
}
.card{
  /* background-color: rgb(229, 229, 233); */
  height: 100%;
 /* margin: auto; */
}

a, span, p{
  /* color: white; */
}
.cart-summary-line {
  clear: both;
  padding-bottom: 10px;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.cart-total{
  border-top: 1px solid black;
}
.card{
  border: transparent;

}
.txt-p{
  color: black;
  text-align: center;
  font-size: 22px;
  padding-top: 1px;
  margin-top: 1px;
  
}
.cart-detailed-totals{
  border-top: 1px solid #201B87;
}
.rig{
  margin-left: auto;
}
.cart-summary{
  /* position: sticky; */
  /* top: 2rem; */
   margin-top: 1px;

}
.flex{
  display: flex;
}
.value{
  color: black;
  text-align: right;
}
.label, .product-price{
  color: black;
}
.cart-item-header{
  /* border-bottom: 1px solid rgb(190, 190, 212); */
  /* border-top: 1px solid rgb(190, 190, 212); */
  margin: 10px 0;
  padding-top: 5px;
  
}
.fa-trash{
  filter: invert(100%);
}
.cart-item{
  margin-bottom: 50px;
}
.small-gutters{
  margin-bottom: 15px;
}
#quantity_wanted{
  width: 40px !important;
}
.page-title span{
  color: black;
   
}
.page-title{
  text-align: center !important;
}

ul{
  list-style: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

 opacity: 1;

}
  
  @media screen and (max-width: 500px) {
    .title-hero {
      font-size: 25px;
      text-align: center;
    }
  
    .text-hero {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
    }
    .llena {
      text-align: center;
    }
    .shadow {
      margin-bottom: 20px;
    }
  
    .card-name h4 {
      font-size: 1em;
      color: #000;
    }
  
    .texto-cantidad,
    .texto-name {
      font-size: 16px;
    }
    .img-beneficios {
      width: 100px;
    }
    .beneficios {
      padding: 5px auto;
    }
    .btn-buy {
      font-size: 12px;
    }
    .btn-hero,
    .btn-hero-outline {
      font-size: 15px;
    }
  }
  @media screen and (max-width: 500px) {
  .fondo{
    height: 35vh;
  }
  .btn-hero,
    .btn-hero-outline {
      font-size: 10px;
    }
  
    #combo{
      font-size: 11px;
      width: auto;
      height: 35px;
    }
    #img{
      width: 100%;
      height: 30vh !important;
    }
    #mercado,#paypal{
      width: 80px;
    }
    #numb{
      margin-left: 5px;
      padding-left: 0px;
      padding-right: 0px;
      width: 50px;
    }
    #precio{
      padding: 0px 0px;
      margin-left: 24px;
    }
    .robo-thin{
      font-size: 14px;
    }
    #desc{
      width: 150px;
    }
    #title,#title3{
      font-size: 12px;
    }
    .productos{
      width: 100%;
    height: 100%;
    }
    .cantidad{
      padding-right: 70px;
    }
    .tit-prod{
      width: 150px;
    }
    .container2{
      flex-direction: column !important;
    }
  }
  
  @media (min-width: 501px) and (max-width: 769px) {
    .title-hero {
      font-size: 24px;
      text-align: center;
    }
    .text-hero {
      font-size: 14px;
      text-align: center;
    }
    #img{
      width: 100%;
      height: 30vh !important;
    }
    .title-bold {
      font-size: 23px;
    }
    .texto-cantidad,
    .texto-name {
      font-size: 16px;
    }
    .img-beneficios {
      width: 100px;
    }
    .btn-buy {
      font-size: 12px;
    }
    
  }


  
  @media (min-width: 1024px) and (max-width: 1440px) {
    .title-hero,
    .text-hero {
      text-align: center;
    }
    #img{
      width: 100%;
      height: 30vh !important;
    }
  }
  